{* This is the welcome page, you can delete it *}

{block content}
    {$page->getId()} <br>
    {$page->getName()} <br>
    {$page->getLink()} <br>
    {!$page->getText()} <br>
    <br>
    
Toto je admin page modulu detail
{/block}


