#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:


php:
	date.timezone: Europe/Prague


nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\modules\*Module\Presenters\*Presenter
			Admin: App\AdminModule\*Module\Presenters\*Presenter
			Front: App\FrontModule\*Module\Presenters\*Presenter


	session:
		expiration: 14 days

services:
	- App\AdminModule\Model\Service\UserService(@Nette\Database\Context)
	- App\AdminModule\Model\Service\MenuService(@Nette\Database\Context)
	- App\FrontModule\Model\Service\MenuService(@Nette\Database\Context)
	- App\PageModule\Model\service\PageService(@Nette\Database\Context)
	router: App\RouterFactory::createRouter
